/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Quicksand", sans-serif;
}

:root {
  /* primary color */
  --orange: #ff6600;
  /* secondary color */
  --yellow: #ffc600;
  /* font color */
  --font: rgba(22, 28, 45, 0.7);
  /* title font (p)  */
  --title: #232121;
}

a,
a:hover {
  text-decoration: none;
}

li {
  list-style-type: none;
}

/* Title */
.title h2 {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
  color: var(--orange);
  display: block;
  font-family: "Pacifico", cursive;
}

.title p {
  font-size: 38px;
  line-height: 48px;
  font-weight: 600;
  color: var(--title);
}

/* BUTTONS */
/* Style chung của nút cam và nút trắng */
.btn {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding: 12px 45px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  transition: 0.3s ease-in;
  border-radius: 6px;
  border: 2px solid transparent;
}

.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(123, 89, 208, 0.25);
}

/* nút cam */
.btn-orange {
  color: #fff;
  background-color: var(--orange);
  border: solid var(--orange);
}

.btn-orange:hover {
  color: #fff;
  background-color: var(--orange);
  border: var(--orange);
  opacity: 0.8;
}

.btn-orange:focus {
  color: #fff;
  background-color: var(--orange);
  border-color: var(--orange);
  box-shadow: 0 0 0 0.2rem rgba(143, 114, 215, 0.5);
}
/* nút trắng */
.btn-white {
  color: #fff;
  background: transparent;
  border: solid #fff;
}

.btn-white:hover {
  color: var(--orange);
  background: #fff;
  border: #fff;
}

/*! HEADER */
header {
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}
.header__content {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-gap: 20px;
  padding: 40px 0 20px 0;
  align-items: center;
}

.header__right {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  align-items: center;
}

.header__right .header__search {
  display: flex;
  flex: 1;
  margin: 0 auto;
}

.header__right .header__search .search__input {
  display: flex;
  flex: 1;
  padding: 10px 50px 10px 20px;
  height: 45px;
  font-size: 16px;
  color: #c2d0da;
  border: none;
  font-weight: 400;
  border-radius: 8px;
  position: relative;
  right: 0;
  background: #fdfbf8;
  outline: 0;
}

.header__right .header__search .search__icon {
  position: absolute;
  right: 20px;
  font-size: 15px;
  top: 15px;
  cursor: pointer;
}

.btn-theme {
  background-color: transparent;
  border: transparent;
  padding: 0px 5px;
}

.button {
  outline: none;
  border: none;
  background: none;
  text-align: center;
  color: #fbfdfb;
  font-size: 1.95em;
  padding: 0 8px;
}

header .button i {
  display: inline-block;
  font-size: inherit;
  text-rendering: auto;
}

@media (max-width: 600px) {
  .header__right.header__search {
    display: none;
  }
}

header h1 a {
  margin: 0;
  padding: 0;
  font-size: 36px;
  font-weight: 700;
  color: #fff;
}

/* switch button */
#myBody {
  background-color: white;
}
#switchButton {
  background-color: transparent;
  border: 1px solid transparent;
  padding: 10px 5px;
  box-shadow: none;
}
#switchButton .fa-sun {
  display: none;
  font-size: 22px;
  color: white;
  width: 20px;
  height: 10px;
  transform: rotate(22deg);
}
#switchButton .fa-moon {
  display: inline-block;
  font-size: 22px;
  color: white;
  width: 20px;
  height: 10px;
}

.dark#myBody {
  background-color: black;
}
.dark #switchButton {
  background-color: transparent;
  border: 1px solid transparent;
  padding: 10px 5px;
  box-shadow: none;
}
.dark #switchButton .fa-sun {
  display: inline-block;
  color: white;
}

.dark #switchButton .fa-moon {
  display: none;
}

/*! CAROUSEL */
.carousel {
  background-size: cover;
  background-image: linear-gradient(
      to right,
      var(--orange),
      hsl(30deg 100% 1% / 20%)
    ),
    url(../img/banner1.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 700px;
}

.carousel .carousel__content {
  max-width: 600px;
  text-align: left;
  padding-top: 160px;
}

.carousel .carousel__content h3 {
  font-size: 54px;
  line-height: 64px;
  font-weight: 600;
  text-transform: capitalize;
  color: #fff;
}

.carousel .carousel__content p {
  font-size: 16px;
  line-height: 28px;
  color: #fff;
}
