/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Quicksand", sans-serif;
}

:root {
  /* primary color */
  --orange: #ff6600;
  /* secondary color */
  --yellow: #ffc600;
  /* font color */
  --font: rgba(22, 28, 45, 0.7);
  /* title font (p)  */
  --title: #232121;
}

a,
a:hover {
  text-decoration: none;
}

li {
  list-style-type: none;
}

/* Title */
.title h2 {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
  color: var(--orange);
  display: block;
  font-family: "Pacifico", cursive;
}

.title p {
  font-size: 38px;
  line-height: 48px;
  font-weight: 600;
  color: var(--title);
}

/* BUTTONS */
/* Style chung của nút cam và nút trắng */
.btn {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding: 12px 45px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  transition: 0.3s ease-in;
  border-radius: 6px;
  border: 2px solid transparent;
}

.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(123, 89, 208, 0.25);
}

/* nút cam */
.btn-orange {
  color: #fff;
  background-color: var(--orange);
  border: solid var(--orange);
}

.btn-orange:hover {
  color: #fff;
  background-color: var(--orange);
  border: var(--orange);
  opacity: 0.8;
}

.btn-orange:focus {
  color: #fff;
  background-color: var(--orange);
  border-color: var(--orange);
  box-shadow: 0 0 0 0.2rem rgba(143, 114, 215, 0.5);
}
/* nút trắng */
.btn-white {
  color: #fff;
  background: transparent;
  border: solid #fff;
}

.btn-white:hover {
  color: var(--orange);
  background: #fff;
  border: #fff;
}

/*! HEADER */
header {
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}
.header__content {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-gap: 20px;
  padding: 40px 0 20px 0;
  align-items: center;
}

.header__right {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  align-items: center;
}

.header__right .header__search {
  display: flex;
  flex: 1;
  margin: 0 auto;
}

.header__right .header__search .search__input {
  display: flex;
  flex: 1;
  padding: 10px 50px 10px 20px;
  height: 45px;
  font-size: 16px;
  color: #c2d0da;
  border: none;
  font-weight: 400;
  border-radius: 8px;
  position: relative;
  right: 0;
  background: #fdfbf8;
  outline: 0;
}

.header__right .header__search .search__icon {
  position: absolute;
  right: 20px;
  font-size: 15px;
  top: 15px;
  cursor: pointer;
}

.button {
  outline: none;
  border: none;
  background: none;
  text-align: center;
  color: #fbfdfb;
  font-size: 1.95em;
  padding: 0 8px;
}

header .button i {
  display: inline-block;
  font-size: inherit;
  text-rendering: auto;
}

@media (max-width: 600px) {
  .header__right.header__search {
    display: none;
  }
}

header h1 a {
  margin: 0;
  padding: 0;
  font-size: 36px;
  font-weight: 700;
  color: #fff;
}

/* switch button */
#myBody {
  background-color: white;
}
#switchButton {
  background-color: transparent;
  border: 1px solid transparent;
  padding: 10px 5px;
  box-shadow: none;
}
#switchButton .fa-sun {
  display: none;
  font-size: 22px;
  color: white;
  width: 20px;
  height: 10px;
  transform: rotate(22deg);
}
#switchButton .fa-moon {
  display: inline-block;
  font-size: 22px;
  color: white;
  width: 20px;
  height: 10px;
}

.dark#myBody {
  background-color: black;
}
.dark #switchButton {
  background-color: transparent;
  border: 1px solid transparent;
  padding: 10px 5px;
  box-shadow: none;
}
.dark #switchButton .fa-sun {
  display: inline-block;
  color: white;
}

.dark #switchButton .fa-moon {
  display: none;
}

/*! CAROUSEL */
.carousel {
  background-size: cover;
  background-image: linear-gradient(
      to right,
      var(--orange),
      hsl(30deg 100% 1% / 20%)
    ),
    url(../img/banner1.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 700px;
}

.carousel .carousel__content {
  max-width: 600px;
  text-align: left;
  padding-top: 160px;
}

.carousel .carousel__content h3 {
  font-size: 54px;
  line-height: 64px;
  font-weight: 600;
  text-transform: capitalize;
  color: #fff;
}

.carousel .carousel__content p {
  font-size: 16px;
  line-height: 28px;
  color: #fff;
}


/*! CAT  */
.category{
  background: #f7f7f7;
}
/* .title__gal p{
  color: #fff;
} */
.gal-slide-grid{
  width: 100%;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  margin-bottom: 32px;
}
.gal-slide-grid img{
 position: relative;
}
.gal-slide-img:after {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  content: " ";
  position: absolute;
  background: rgba(0, 0, 0, 0); 
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}
.gal-slide-img img {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -moz-border-radius: 6px;
}
.gal-slide-info {
  left: auto;
  bottom: 0;
  width: 95%;
  padding: 0 10px;
  position: absolute;
  opacity: 0;
  color: #fff;
  transform: translate3d(0, 10%, 0);
  transition: opacity 0.3s;
}
.gal-slide-info h4 {
  font-size: 18px;
  color: #fff;
}
.gal-slide-grid .gal-slide-img:after {
  /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.53) 69%, rgba(0, 0, 0, 0.76) 100%); */
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -moz-border-radius: 6px;
}
.gal-slide-info {
  transform: translate3d(0, -5%, 0);
  transform: translate3d(0, -10%, 0);
}
.category img:hover {
  opacity: 0.85;
  transition: all 0.4s;
}
.gal-slide-grid .gal-slide-info {
  opacity: 1;
  transition: all 0.4s;
}
.content-left-sec a h4 {
  font-size: 22px;
  line-height: 30px;
  color: #fff;
  font-weight: 700;
}
.content-left-sec a:hover {
  text-decoration: none;
}
.content-left-sec a:hover {
  color: #4f9da6;
}
.content-left-sec h6 {
  display: inline-block;
  font-size: 18px;
  line-height: 25px;
  color: #fff;
  opacity: 0.9;
}
.gal-slide-info span {
  font-weight: 600;
  color: var(--yellow);
  font-size: 18px;
  letter-spacing: 1px;
}
@media all and (max-width:800px) {
  .w3l-res-categories .content-left-sec a h4 {
    font-size: 18px;
    line-height:28px;
  }
  .w3l-res-categories .gal-slide-info span {
      font-size: 16px;
  }
  .w3l-res-categories .gal-slide-info {
    left: auto;
    bottom: 0;
    width: 90%;
  }
}


/* !SERVICES */
.services{
  position: relative;
}
.box-wrap {
  padding: 40px 40px;
  transition: all 0.5s ease 0s;
  border-radius: 8px;
  box-shadow: 0 25px 98px 0 rgba(0, 0, 0, 0.03);
  background-color:#fff;
  position: relative;
  border: 1px solid #eee;
}
.box-wrap:hover {
  box-shadow: 0 25px 98px 0 rgba(0, 0, 0, 0.1);
}

.box-wrap-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 30px;
}

.box-wrap h4 a {
  font-size: 24px;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 0px;
  display: block;
  color: #232121;
}

.box-wrap h4 a:hover {
  color: var(--orange);
}

.box-wrap h5 {
  font-weight: 400;
  color: #fff;
  font-size: 20px;
  opacity: .8;
}

.box-wrap p {
  margin: 0;
  color: rgba(22, 28, 45, 0.7);
}

.icon {
  width: 70px;
  height: 70px;
  text-align: center;
  background: rgba(130, 115, 252, .05);
  line-height: 70px;
  border-radius: 8px;
  transition: 0.3s ease-in-out;
  color: var(--orange);
}

.box-wrap:hover .icon {
  background-color: var(--orange);
  transition: 0.3s ease-in-out;
}

.box-wrap:hover .icon span.fa {
  color: #fff;
  transition: 0.3s ease-in-out;
}

.icon span.fa {
  color: var(--primary-color);
  font-size: 25px;
  line-height: 70px;
}
.box-wrap{
  color: #fff;
}


/*! BLOG  */
.blogposts{
  background-color: #f7f7f7;
}

.card {
  position: relative;
  word-wrap: break-word;
  background-color: transparent;
  background-clip: border-box;
  border: none;
  border-radius: 0;
}
.post-pos a{
  color: #ff6600;
  transition: all 0.5s;
}
.post-pos a:hover{
  color: #5431AC;
  
}

.post-pos  span.category a {
  color: #fff;
  padding: 3px 20px;
  border-radius: 35px;
  font-weight: 700;
  font-size: 12px;
  margin-bottom: 5px;
  display: inline-block;
  letter-spacing: .05em;
}
.post-thumbnail img {
  width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  display: block;
  border-radius: 6px;
}
.post-pos {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
a.blog-desc {
  display: block;
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
  color: #232121;
  margin-top: 25px;
  margin-bottom: 15px;
  transition: .3s ease;
  -webkit-transition: .3s ease;
  -ms-transition: .3s ease;
  -o-transition: .3s ease;
}
.card-header {
  a.post-img-anchor {
    width: 100%;
    min-height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
  }
  }
   a.post-img-anchor {
    width: 100%;
    min-height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
  }
  
   .p-meta-info {
    display: grid;
    align-items: center;
    grid-auto-flow: column;
    grid-gap: 10px;
    justify-content: flex-start;
  }
  
  .p-meta-info img {
    width: 40px;
    height: 40px;
    display: block;
    overflow: hidden;
    border-radius: 50%;
  }
  
 .p-meta-info a {
    font-weight: 700;
    color: var(--heading-color);
    letter-spacing: .02em;
  }
  
   .p-footer {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
  }
  
   a.read {
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: .02em;
    color: var(--heading-color);
    opacity: .9;
  }
  
  a.read:hover {
    color: var(--orange);
  }
  

  /* !TESTIMONTIAL  */

  .owl-carousel .owl-item img{
  width: 80px;
  height: 80px;
  display: inline-block;
  overflow: hidden;
  background: var(--bg-color);
  border-radius: 50%; 
  margin:40px 0 20px;
  }
  span.fa.fa-quote-left {
    font-size: 22px;
    color: var(--orange);
    display: block;
  }
  blockquote q {
    font-size: 24px;
    line-height: 36px;
    color: #232121;
    font-weight: 600;
    font-style: italic;
  }
  .people-info h3{
    margin: 0;
    font-weight: 600;
    font-size: 20px;
}
.testimonial p{
  color: #161C2DB3;
  font-size: 18px;
}
.testimonial-content {
  max-width: 700px;
  margin: auto;
}
span.fa.fa-quote-left {
  font-size: 28px;
  color: var(--orange);
  display: block;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span  {
  background: var(--orange);
}


  




